* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.wrapper {
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: normal;
    line-height: 69px;
    font-size: 48px;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 32px;
}

a {
    transition: .15s;
}

.color-accent {
    color: #EBB82C;
}


/* ---------------------------- */
/* ---------- NAVBAR ---------- */
/* ---------------------------- */
#navbar {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100px;
}

#navbar .wrapper {
    display: flex;
    align-items: center;
}

#logo {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#navbar-links {
    margin-left: auto;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    color: #EBB82C;
}

.navbar-link + .navbar-link {
    margin-left: 60px;
}


/* -------------------------- */
/* ---------- MAIN ---------- */
/* -------------------------- */
#main {
    position: relative;
    width: 100%;
    height: 750px;
}

#main .wrapper {
    display: flex;
    align-items: center;
}

#main-background {
    z-index: 0;
    opacity: .1;
    position: absolute;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#main-content {
    z-index: 1;
}

#main-content p {
    margin: 20px 0;
    font-style: italic;
    color: white;
    max-width: 500px;
}

#say-hello {
    font-size: 20px;
    color: white;
}

#say-hello a {
    color: white;
}

#say-hello a:hover {
    color: #EBB82C;
}


/* --------------------------- */
/* ---------- ABOUT ---------- */
/* --------------------------- */
#about {
    background-color: white;
}

#about-top {
    padding: 40px 0;
    width: 100%;
}

#about-bottom {
    height: 80px;
    width: 100%;
    background-color: #E5E5E5;
}

#about-top .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h2 {
    color: #222;
}

#about p {
    color: #222;
    max-width: 625px;
}

#about p {
    margin-top: 20px;
}

#about-bottom .wrapper {
    display: flex;
    align-items: center;
}

#about-bottom a {
    color: #222;
}

#about-bottom a:hover {
    color: #EBB82C;
}

#about-bottom a + a {
    margin-left: 20px;
}

#about-bottom i {
    font-size: 25px;
}

/* -------------------------- */
/* ---------- WORK ---------- */
/* -------------------------- */
#work {
    padding: 50px 0;
}

.work-section {
    padding-top: 50px;
}

.work-section h2 {
    color: #EBB82C;
}

.work-section-items {
    display: flex;
    flex-direction: column;
}

.work-section-item {
    padding: 0 20px;
    height: 100px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition: .1s;
}

.work-section-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.work-section-item:hover > img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.work-section-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-section-item img {
    height: 35px;
    margin-left: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .5;
}

.work-section-item-title {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.work-section-item-location {
    font-size: 16px;
    color: white;
    opacity: .5;
}

.skills-section-items {
    display: flex;
    padding: 0 20px;
    width: calc(100% - 40px);
}

.skills-section-item {
    display: flex;
    flex-direction: column;
}

.skills-section-item + .skills-section-item {
    margin-left: 75px;
}

.skills-section-item-title {
    font-size: 18px;
    color: white;
    opacity: .5;
    margin: 10px 0 5px 0;
}

.skills-section-item-skills {
    font-size: 18px;
    color: white;
    line-height: 26px;
}


/* ---------------------------- */
/* ---------- FOOTER ---------- */
/* ---------------------------- */
#footer {
    width: 100%;
    height: 360px;
    background-color: white;
    color: #222;
}

#footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer a {
    color: #222;
}

#footer a:hover {
    color: #EBB82C;
}

#footer-copyright {
    margin-top: 20px;
    color: #222;
    opacity: .7;
    font-size: 18px;
}