@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #navbar-links {
        display: none;
    }

    .skills-section-items {
        flex-direction: column;
    }

    .skills-section-item + .skills-section-item {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 32px;
        line-height: 46px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        line-height: 23px;
    }

    .work-section-item {
        flex-direction: column;
        height: unset;
        padding: 20px 20px;
        align-items: flex-start;
    }

    .work-section-item img {
        margin-top: 10px;
        margin-left: unset;
        /* margin-right: auto; */
    }

    .skills-section-item-title, .skills-section-item-skills, .work-section-item-title {
        font-size: 16px;
    }

    .skills-section-item-skills {
        font-size: 16px;
    }

    #footer-copyright {
        font-size: 16px;
    }
}